.slider-elem {
    display: inline-block;
    background: blue;
    font-size: 15px;
    color: white;
    margin: 5px 10px;   
}

.rs-track {
    margin-left: 0px; 
    font-size: 0;
    white-space: nowrap;
    background-color: yellow;
}
.rs-mask {
    position: relative;
    margin: 0 auto;
    padding: 4px 0; 
    overflow: hidden;
    background: red;
}
.rs-arrows {
    margin-top: 5px;
    font-size: 0;
    text-align: center;
}
.rs-arrow-left,
.rs-arrow-right {
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}