.rs {
    position: relative;
    margin: 0 auto;
}
.rs-track {
    position: relative;
    z-index: 1;
    margin-left: 0px;
    font-size: 0;
    white-space: nowrap;
}
.rs-track .rs-track-item {
    display: inline-block !important;
}
.rs-mask {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.rs-overlay {
    position: absolute;
    z-index: 2;
}
.rs-arrows {
    margin-top: 5px;
    font-size: 0;
    text-align: center;
}
.rs-arrow-left,
.rs-arrow-right {
    display: inline-block;
    margin: 0 4px;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    font-size: 16px;
    cursor: pointer;
}
.rs-arrow-left {
    background-image: url('img/arrow-left.png');
}
.rs-arrow-right {
    background-image: url('img/arrow-right.png');
}
.rs-arrow-abs.rs-arrow-left,
.rs-arrow-abs.rs-arrow-right {
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -10px;
}
.rs-arrow-abs.rs-arrow-left {
    left: -30px;
}
.rs-arrow-abs.rs-arrow-right {
    right: -30px;
}
.rs-dots {
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
}
.rs-dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 0 5px 0 5px;
    background-color: black;
    opacity: .5;
    border-radius: 100%;
    vertical-align: middle;
}
.rs-dot:hover,
.rs-dot.rs-dot-active {
    opacity: .9;
}

.rs-blur {
    width: 100%;
}

.rs-blur:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background: -moz-linear-gradient(to right, #f4f4f4 0, rgba(244,244,244,0.01) 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left top, color-stop(0%, #f4f4f4), color-stop(100%, rgba(244,244,244,0.01)));
    background: -webkit-linear-gradient(left, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    background: -o-linear-gradient(left, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    background: -ms-linear-gradient(left, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    background: linear-gradient(to right, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    left: 0;
}

.rs-blur:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    background: -moz-linear-gradient(to left, #f4f4f4 0, rgba(244,244,244,0.01) 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, right top, right top, color-stop(0%, #f4f4f4), color-stop(100%, rgba(244,244,244,0.01)));
    background: -webkit-linear-gradient(right, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    background: -o-linear-gradient(right, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    background: -ms-linear-gradient(right, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    background: linear-gradient(to left, #f4f4f4 0%, rgba(244,244,244,0.01) 100%);
    right: 0;
}
